.animate-opacity {
  animation:opac 1s} @keyframes opac {
    from { opacity:0} to { opacity:1}}

.animate-top {
  position:relative;animation:animatetop 1s} @keyframes animatetop {
    from { top:-60px;opacity:0} to { top:0;opacity:1}}

.animate-left {
  position:relative;animation:animateleft 1s} @keyframes animateleft {
    from { left:-60px;opacity:0} to { left:0;opacity:1}}

.animate-right {
  position:relative;animation:animateright 1s} @keyframes animateright {
    from { right:-60px;opacity:0} to { right:0;opacity:1}}

.animate-bottom {
  position:relative;animation:animatebottom 1s} @keyframes animatebottom {
    from { bottom:-60px;opacity:0} to { bottom:0;opacity:1}}

@mixin delays($n) {
  .animate-#{$n} {
    animation-fill-mode: backwards;
    animation-delay: #{$n*0.3}s}}

@for $i from 0 through 20 { @include delays($i)}

.animate-slow {
  animation-duration: 4s;}
