/* Flexbox style alignment using dynamic columns */

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media(min-width: $breakpoint) {
    flex-direction: row }

  &.row-x { flex-direction: row }
  &.row-t { align-items: flex-start }
  &.row-m { align-items: center }
  &.row-b { align-items: flex-end }
  &.row-1 { justify-content: space-between }
  &.row-i { justify-content: space-between }
  &.row-o { justify-content: space-around }

  &.row-i, &.row-o {
    & > .col {
      padding: $spacing / 2 0;
      &:first-child { padding-top: 0 }
      &:last-child { padding-bottom: 0 }
      @media(min-width: $breakpoint) {
        padding: 0 $spacing / 2;
        &:first-child { padding-left: 0 }
        &:last-child { padding-right: 0 }}}}

  &.row-1 > .col {
      padding: 1px 0;
      &:first-child { padding-top: 0 }
      &:last-child { padding-bottom: 0 }
      @media(min-width: $breakpoint) {
        padding: 0 1px;
        &:first-child { padding-left: 0 }
        &:last-child { padding-right: 0 }}}

  .col {
    position: relative;
    flex: 1 1 auto;
    display: block;
    width: 100%;

    @for $numerator from 1 through 12 {
      &.col-#{$numerator} { max-width: 100% }}

    @media(min-width:$breakpoint) {
      @each $size in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11) {
        &.col-#{$size} {
          flex:  0 0 percentage($size / 12);
          max-width: percentage($size / 12) }}}}}
