$background: white;
$foreground: #080010;
$accent: #a22622;
$emphasis: #f9e6ce;
$spacing: 90px;
$breakpoint: 70rem;
$heading: "Alata";
$body: "Cormorant";

@mixin shadow { box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; }

@font-face {
    font-family: $body;
    src: url("../Cormorant.ttf") format("truetype supports variations"),
         url("../Cormorant.ttf") format("truetype-variations");
    font-weight: 100 1000; }

@font-face {
    font-family: $body;
    src: url("../Cormorant-Italic.ttf") format("truetype supports variations"),
         url("../Cormorant-Italic.ttf") format("truetype-variations");
    font-style: italic;
    font-weight: 100 1000; }

@font-face {
    font-family: $heading;
    src: url("../Alata-Regular.ttf");
    font-weight: normal; }

@import "normalize";
@import "position";
@import "animations";

body {
    background: $background;
    font: 300 1.75rem/1.25 $body, serif;
    color: $foreground; }

.foreground { color: $foreground; }
.background { color: $background; }
.emphasis { color: $emphasis; }
.accent { color: $accent; }
.fg { background: $foreground; }
.bg { background: $background; }
.emp { background: $emphasis; }
.acc { background: $accent; }
.center { text-align: center; }
.right { text-align: right; }
.pad { padding: $spacing $spacing / 3; }

/* Typography */

h1 {  /* page logo */
    font: 400 9vw/1 $heading, sans-serif;
    margin: 0; }

h2 {
    @include shadow;
    background: $background;
    text-align: center;
    font: 900 6vw/1 $heading, sans-serif;
    color: $emphasis;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin: 0 auto;
    margin-right: 0.166em;
    padding: 0.5em 0.33em 0.5em 0.66em;
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
}

h3, h4, h5, h6 {
    color: $foreground;
    font: 400 2em/1.75 $body, serif;
    text-transform: none;
    letter-spacing: normal;
    margin: 0 0 1em; }

header {  /* subtitle below headings */
    color: $accent;
    font-family: $heading;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 0.8em; }

p { margin: 1em 0 0; }

dd { margin: 0; }

ul {
    &.h, &.v {
        list-style-type: none;
        padding: 0;
        margin: 0; }
    &.v li { margin-top: 0.5em; }
    &.h li {
        display: inline;
        margin-right: 1em; }}

a { text-decoration: none;
    transition: color 0.5s;
    font-style: italic;
    color: $accent;
    &:hover, &:active {
        font-style: normal; }}

/* Oragnization elements */

img { /* Disable image selection to deter download */
    pointer-events: none;
    user-select: none;
    height: 100%;
    width: 100%;
    object-fit: cover; }

video {
    object-position: top;
    object-fit: cover; }

button {
    font: 700 3rem/1.75 $heading, sans-serif;
    color: $background;
    background: none;
    border: solid 1px $background;
    margin: $spacing / 3 0;
    padding: $spacing / 3;
    &:hover, &:active {
        color: $accent;
        border-color: $accent; }}

hr {
    max-width: $breakpoint / 3;
    margin: $spacing / 3 auto $spacing / 3 0;
    border-top: 1px solid $foreground;
    margin: 1em auto 1em 0;
    opacity: 0.15; }

figure.arches {
    margin-top: $spacing / 3;
    margin-bottom: $spacing / 3;
    text-align: center; 
    img {
        object-fit: cover;
        width: 100%;
        height: auto;
        border-radius: 50% 50% 0 0; }
    figcaption {
        padding: $spacing 0;
        background: $background; }
    hr {
        width: 20%;
        margin: 1em auto; }}

@media(min-width: $breakpoint) {
    .offset:last-child { margin-top: $spacing * 2; }}

figure.cards {
    position: relative;
    img, video {
        @include shadow;
        max-height: 90vh;
        height: auto;
        width: 100%;
        object-fit: cover; }
    figcaption {
        position: absolute;
        opacity: 0;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        background: $background;
        padding: $spacing / 3;
        font-size: 1.75rem;
        overflow: hidden;
    }
    &:hover, &:active {
        figcaption {
            opacity: 1;
            height: 100%;
            transition: all 400ms;
        }
    }
}

/* Section styling */

main {
    position: relative;
    &:before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20%;
        width: 20%;
        border-left: 1px dotted $foreground;
        border-right: 1px dotted $foreground;
        opacity: 0.15; }
    &:after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 60%;
        width: 20%;
        border-left: 1px dotted $foreground;
        border-right: 1px dotted $foreground;
        opacity: 0.15; }}

section, article {
    position: relative;
    padding: $spacing $spacing / 3; }

footer {
    height: 50vh;
    text-align: center;
    font-family: $heading, sans-serif;
    color: $emphasis;
    background: $foreground; }

/* Landing section */

#landing {
    color: $background;
    background: $foreground; }

#logo {
    @media(min-width: $breakpoint) {
        &:before {
            content: "";
            position: absolute;
            height: 100%;
            border-left: 1px solid $background;
            top: 0;
            left: 6rem;
            transform: rotate(-15deg);
            transform-origin: bottom left; }}
    @for $i from 1 through 3 {
        & > *:nth-child(#{$i}) {
            padding-left: #{$i * 3}rem; }}}

@keyframes acronym {
    from { max-width: 0; opacity: 0; }
    25% { max-width: $breakpoint; opacity: 1; }
    50% { max-width: 0; opacity: 0; }
    100% { max-width: 0; opacity: 0; }}

@for $i from 1 through 3 {
    .animate-expand:nth-child(#{$i}) span {
        opacity: 0;
        max-width: 0;
        animation: acronym 6s infinite backwards;
        animation-delay: #{$i}s; }}

#events h3 {
    max-width: 4.5 * $spacing;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    margin: 2em auto; }

/* Responsive padding */

@media(min-width: $breakpoint) {
    main { min-height: 100vh; }
    #mission { font-size: 2.5vw; }
    article {
        min-height: 100vh;
        padding: $spacing;
        p, h1, h2, h3, h4, h5, h6, footer {
            max-width: $breakpoint * 2; }}
    .pad { padding: $spacing; }
    figure.cards figcaption { padding: $spacing; }
    h2 {
        font-size: 4.5vw;
        letter-spacing: 0.5em;
        position: absolute;
        top: -5vw;
        left: 50%;
        transform: translateX(-50%); }}
