{{- $stylesheet := resources.Get "scss/main.scss" 
                 | resources.ExecuteAsTemplate "style.css" .
                 | resources.ToCSS (dict "targetPath" "css/style.css"
                                         "outputStyle" "compressed"
                                         "enableSourceMap" true
                                         "includePaths" (slice "assets")) -}}
<!DOCTYPE html>
<html lang='{{ site.LanguageCode }}'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1'>
        <meta name='theme-color' content='white'>
        <meta name='author' content='William T. Le'>
        {{ with .Param "description" }}
        <meta name='description' content='{{ . }}'>
        {{ end }}
        <title>{{ block "title" . }}{{ site.Title }}{{ end }}</title>
        <link rel='stylesheet' href='{{ $stylesheet.Permalink }}'>
        <link rel='shortcut icon' href='{{ .Site.BaseURL }}/favicon.ico'>
    </head>
    <body>
        {{ block "main" . }}{{ end }}
        {{ partial "footer" . }}
    </body>
</html>
