<footer class='row row-x row-m ṗad'>
    <div class='col'>
        <ul class='h'>
            {{ range $i, $social := .Params.socials }}
            <li class='animate-bottom animate-{{ $i }}'>
                <a href='{{ $social.url }}'>
                    <button>
                        {{ if isset $social "icon" }}
                        <img src='{{ $social.icon }}' style='width:1em'>
                        {{ else }}
                        {{ substr $social.name 0 1 }}
                        {{ end }}
                    </button>
                </a>
            </li>
            {{ end }}
        </ul>
        <div>
            {{ replace .Site.Copyright "{year}" now.Year | markdownify }}
        </div>
    </div>
</footer>
