<nav class='thirds'>
    {{ range split .Title " " }}
    <div class='hover'>
        {{- substr . 0 1 -}}
        <span class='hidden'>{{ substr . 1 | htmlUnescape }}</span>
    </div>
    {{ end }}
</nav>
