{{ define "main" }}
<main>
    <article id='landing' class='row row-m'>
        <div class='col col-4'></div>
        <div class='col'>
            <h1 id='logo'>
                {{ range split .Title " " }}
                <div class='animate-expand'>
                    {{- substr . 0 1 -}}
                    <span>{{ substr . 1 | htmlUnescape | upper }}</span>
                </div>
                {{ end }}
            </h1>
        </div>
    </article>
    <article id='mission' class='row row-b row-x'>
        <div class='col pad'>
            <header class='animate-left'>Notre Mission</header>
            <div class='animate-left animate-1'>{{ .Content }}</div>
        </div>
    </article>
    <section id='members' class='emp'>
        <h2 class='animate-opacity'>Administration</h2>
        <section class='row row-m row-1'>
            {{ range $i, $member := .Params.members }}
            <figure class='col arches animate-top animate-{{ $i }}'>
                <img src='{{ $member.name | safeURL }}.jpeg'>
                <figcaption>
                    <header>
                        <h3>{{ replace $member.name "_" " " | htmlUnescape }}</h3>
                        <p>{{ $member.title | htmlUnescape }}</p>
                    </header>
                    <hr>
                    <p>
                        <a href='https://instagram.com/{{ $member.instagram }}'>
                            @{{ $member.instagram | htmlUnescape }}
                        </a>
                    </p>
                </figcaption>
            </figure>
            {{ end }}
        </section>
    </section>
    <article id='events'>
        {{ with .Site.GetPage "/events" }}
        {{ $pages := .Resources.ByType "page" }}
        <h2 class='animate-opacіty'>{{ .Title }}</h2>
        {{ range $i, $page := sort (where $pages "Params.draft" "ne" true) "Date" "desc" }}
        {{ if eq (mod $i 2) 0 }}
        <section class='row row-m row-i pad'>
        {{ end }}
        <div class='col col-6 offset animate-top animate-{{ $i }}'>
                <figure class='cards'>
                    {{ if isset $page.Params "video" }}
                    {{ with $page.Parent.Resources.GetMatch $page.Params.video }}
                    <video autoplay muted loop playsinline>
                        <source src='{{ .RelPermalink }}' type='video/mp4'>
                    </video>
                    {{ end }}
                    {{ else if isset $page.Params "image" }}
                    {{ with $page.Parent.Resources.GetMatch $page.Params.image }}
                    <img src='{{ .RelPermalink }}'>
                    {{ end }}
                    {{ end }}
                    <figcaption class='row row-x row-m'>
                        <div class='col'>
                            {{ $page.Content }}
                            <hr>
                            {{ with $page.Params.link }}
                            <a href='{{ . }}'>{{ . }}</a>
                            {{ end }}
                        </div>
                    </figcaption>
                </figure>
                <h3>{{ $page.Title | markdownify }}</h3>
            </div>
        {{ if eq (mod $i 2) 1 }}
        </section>
        {{ end }}
        {{ end }}
        {{ if eq (mod (len $pages) 2) 1 }}
        </section>
        {{ end }}
        {{ end }}
    </article>
</main>
{{ end }}
